/* colorss*/
:root {
 --bg-color: #050508;
 --panel-bg: #111218;
 --neon-cyan: #00f3ff;
 --neon-green: #39ff14;
 --neon-red: #ff073a;
 --text-main: #e0e6ed;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* launch screen stuff */
.home-screen{
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 20px;
    text-align: center;
}

.stardance-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.35;
    z-index: 0;
}

.logo-container {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 5;
}

.nasa-logo {
    width: 90px;
    opacity: 0.8;
}

.title-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    z-index: 100;
}

.text-alien {
    font-size: 3.5rem;
    font-weight: bold;
    color: #ff5252;
}

.text-or {
    font-size: 1.5rem;
    color: #b6b3b3;
    margin: 0 15px;
    font-weight: bold;
}

.text-earth {
    font-size: 3.5rem;
    font-weight: bold;
    color: #4da6ff;
}
 
.subtitle {
    position: relative;
    color: #8ae8ff;
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: 6px;
    text-decoration: uppercase;
    z-index: 3;
}

.briefing {
    position: relative;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 40px;
    color: #e0f7fa;
    background: #161515;
    width: 100%;
    max-width: 420px;
    line-height: 2;
    text-align: center;
    z-index: 3;
}

.btn-start {
    padding: 12px 40px;
    margin: 0 auto;
    border: 2px solid #e0e6ed;
    background: transparent;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    z-index: 10;
}

.hud-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--panel-bg);
    border-bottom: 2px solid #333;
}

.scores-group{
    display: flex;
    gap: 10px;
    align-items: center;
}

.stat-box { font-weight: bold; font-size: 0.9rem;}
.neon-text { color: var(--neon-cyan); }

.timer-container {
    position: relative;
    width: 30%;
    height: 20px;
    background: #222;
    border: 1px solid #555;
    border-radius: 4px;
}

.timer-bar {
    height: 100%;
    width: 100%;
    background-color: var(--neon-red);
}

.timer-text {
    position: absolute;
    top: 0; left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    z-index: 2;
}

.game-board {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

.image-frame{
    height: 45vh;
    min-height: 250px;
    border: 2px solid #333;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
    background: #000;
}

#game-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls {
    display: flex;
    gap: 15px;
    height: 60px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.btn{
    flex: 1;
    background: transparent;
    border: 2px solid #555;
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-earth:hover { border-color: var(--neon-cyan); color: var(--neon-cyan);}
.btn-alien:hover { border-color: var(--neon-red); color: var(--neon-red); }

.overlay{
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: var(--bg-color);
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.loader-text{
    color: var(--neon-cyan);
    font-size: 1.5rem;
}

.modal {
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: var(--panel-bg);
    border: 2px solid #444;
    border-radius: 8px;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.reveal-title { font-size: 1.8rem; margin-bottom: 15px;}
.reveal-score {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--neon-cyan);
    margin-bottom: 20px;
}

.data-box {
    text-align: left;
    background: #000;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 0.95rem;
}

.rocket {
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: auto;
    z-index: 10;
    transition: transform 1.2s ease-in;
}

.launch{
    transform: translate(-50%, -120vh);
}

.btn-next { width: 100%; height: 50px; background: #222; border-color: #888; color: white; cursor: pointer;}
.btn-home { background: transparent; border: none; color: #aaa; font-size: 1rem; cursor: pointer; margin-top: 10px;}

